.call-btn {
     align-self: center;
     position: relative;
     border-radius: 30px;
     display: grid;
     justify-content: center;
     justify-self: end;
     width: 120px;
     height: 120px;
     box-shadow: 17.716px 17.716px 70.8639px rgba(0, 0, 0, 0.6),
          13px -12px 35px -10px rgba(235, 56, 70, 0.7);
     cursor: pointer;
     transition: all 0.5s ease;

     &:hover:after {
          background: #d0f34e;
     }	

     &::after {
          content: "";
          position: absolute;
          background: rgba(235, 56, 70, 0.5);
          width: 85px;
          height: 85px;
          top: -3px;
          right: -3px;
          border-radius: 0 30px 0 0;
          transition: all 0.5s ease;
     }

     &::before {
          content: "";
          position: absolute;
          background: linear-gradient(90deg, #000 30%, #262626 105.54%);
          top: -2px;
          bottom: -2px;
          left: -2px;
          right: -2px;
          border-radius: 30px;
     }

     &:hover {
          box-shadow: 17.716px 17.716px 70.8639px rgba(0, 0, 0, 0.6),
               13px -12px 35px -10px rgba(208, 243, 78, 0.7);
     }

     &__row {
          display: grid;
          justify-content: center;
          width: 120px;
          height: 120px;
          background: linear-gradient(#101010, #242424);
          border-radius: 30px;
          position: relative;
          z-index: 1;
     }

     &__img {
          width: 45px;
          height: 45px;
          justify-self: center;
          align-self: center;
     }

     &__title {
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 300;
          color: #c3c1c1;
          letter-spacing: 0.5px;
     }
}
