.header {
     padding-top: 33px;
     font-family: Visuelt Pro;

     &__items {
          display: flex;
          justify-content: space-between;
		align-items: center;
          position: relative;
          z-index: 10;
     }

     &__menu {
          transition: all .3s ease;
          background: linear-gradient(163.01deg, #181818 8.23%, #181818 91.98%),
          #949494;
          box-shadow: -8.16964px -8.16964px 16.3393px rgba(18, 18, 18, 0.4),
          8.16964px 8.16964px 24.5089px rgba(0, 0, 0, 0.5);
          border-radius: 65.3571px;
          padding: 23px 19px 18px 19px;
          cursor: pointer;

		&:hover{
			box-shadow: 0 0 20px 10px rgba(235,56,70,.4);
		}
     }

     &__row {
          display: flex;
		align-items: center;
		column-gap: 70px;
     }

     &__btn {
		width: 166px;
     }

     &__lang-btn {
		transition: all .3s ease;
		cursor: pointer;
          position: relative;
          padding: 18px 15px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
          font-family: "Visuelt Pro";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: #908f8f;
          background: linear-gradient(163.01deg, #181818 8.23%, #181818 91.98%),
               #949494;
          box-shadow: -8.16964px -8.16964px 16.3393px rgba(18, 18, 18, 0.4),
               8.16964px 8.16964px 24.5089px rgba(0, 0, 0, 0.5);
          border-radius: 65.3571px;

		&:hover{
			box-shadow: 0 0 20px 10px rgba(235,56,70,.4);
		}
     }

     &__line {
          position: absolute;
		top: -55px;
		left: -13px;
     }
}
