#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color: white;
  background-color: #1b1b1b;
}

body, html {
  margin: 0;
  height: 100%;;
}
